.app-view {
    @include span-columns(8);
    @include omega;

    box-shadow: 0 0 10px rgba(black, 0.1);
    border: 1px solid $app-view-border-color;
    border-radius: 6px;

    @include media($layered) {
        @include span-columns(6);
    }
}

.action-header {
    padding: 0.7em;

    box-shadow: inset 1px 1px 0 desaturate(lighten($base-font-color, 20%), 20%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid darken($base-font-color, 10%);
    background-color: darken($base-font-color, 10%);
}

.statistics {
    float: left;
    width: 180px;
    padding: 0.45em 0.6em;

    border-radius: 6px;
    box-shadow: inset 0 0 8px rgba(black, 0.4);
    background-color: lighten($app-view-cell-border-color, 5%);

    font-size: 0.8em;

    .total-unpaid {
        @extend .bold;
        line-height: 1;
        float: right;
        font-size: 1.25em;
    }

    &:empty:after {
        content: '\00a0';
    }
}

.actions {
    float: right;

    button {
        padding: 0.4em 1.2em 0.4em 27px;
        text-align: center;
        margin: 0 0 0 0.4em;
        font-size: 0.8em;
        font-family: $font-family;
        color: $base-font-color;
        text-shadow: 1px 1px 0 #fff;
        border: 1px solid lighten($base-font-color, 50%);
        border-radius: 4px;
        box-shadow: inset 1px 1px 0 rgba(white, 0.25);

        background-color: $app-view-cell-border-color;
        background-repeat: no-repeat;
        background-position: 8px center;


        &.addNew {
            background-image: url($root + 'img/plus.png');

            &:hover {
                box-shadow: 0 0 10px rgba($muted-green, 0.8);
            }
        }

        &.clearPaid {
            background-image: url($root + 'img/minus.png');

            &:hover {
                box-shadow: 0 0 10px rgba($muted-red, 0.8);
            }
        }

        &:active {
            position: relative;
            top: 1px;
            left: 1px;
        }
    }
}

.bills {
    border-top-width: 0;

    td, th {
        &:first-child {
            border-left-width: 0;
        }
    }

    th {
        padding: 0.5em;

        border-bottom: 1px solid $app-view-border-color;
        border-left: 1px solid $app-view-border-color;
        background-color: $app-view-cell-border-color;

        @extend .bold;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.9em;
        text-shadow: 1px 1px 0 white;

        cursor: pointer;

        &.due {
            width: 16%;

            @include media($due-adjust-max) {
                width: 20%;
            }

            @include media($minimal) {
                width: 27%;
            }
        }

        &.description {
            width: 63%;

            @include media($due-adjust-max) {
                width: 60%;
            }

            @include media($minimal) {
                width: 52%;
            }
        }

        &.amount {
            width: 11%;
        }

        &.paid {
            width: 5%;
        }

        &.destroy {
            width: 5%;
        }
    }

    td {
        padding: 0.8em;
        font-size: 0.9em;

        background-color: $app-view-cell-background-color;
        border-left: 1px solid $app-view-cell-border-color;
    }

    .empty {
        td {
            text-align: center;
        }
    }

    tr:nth-child(odd) td {
        background-color: darken($app-view-cell-background-color, 2%);
    }

    tr:last-child {
        td:first-child {
            border-bottom-left-radius: 6px;
        }
        td:last-child {
            border-bottom-right-radius: 6px;
        }
    }

    span {
        display: inline-block;
        padding: 0.4em 0;

        &[contenteditable] {
            &, &:focus {
                outline: 0 solid transparent;
            }

            padding: 0.4em;
            border-bottom: 1px dotted red;
            background-color: mix($app-view-cell-background-color, red, 95%);
        }
    }
}

.button {
    text-align: center;
    position: relative;

    span {
        display: inline-block;
        padding: 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -8px;
    }

    &.is-paid span {
        background-image: url($root + 'img/checkmark.png');

        &.yes {
            background-position: 16px;
        }
    }

    &.destroy span {
        background-image: url($root + 'img/cancel.png');

        &:hover {
            background-position: 16px;
        }
    }
}