.ui-datepicker-trigger {
  margin-top: 0.5em;
  cursor: pointer;
  float: right; }

div.ui-datepicker {
  font-size: 85%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: opensans-bold;
  src: url("/assets/fonts/opensans-bold.eot");
  src: url("/assets/fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/opensans-bold.woff") format("woff"), url("/assets/fonts/opensans-bold.ttf") format("truetype"), url("/assets/fonts/opensans-bold.svg#opensans-bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: opensans;
  src: url("/assets/fonts/opensans-regular.eot");
  src: url("/assets/fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/opensans-regular.woff") format("woff"), url("/assets/fonts/opensans-regular.ttf") format("truetype"), url("/assets/fonts/opensans-regular.svg#opensans") format("svg");
  font-weight: normal;
  font-style: normal; }

.bold, h1, h2, h3, h4, h5, h6, b, strong, .statistics .total-unpaid, .bills th {
  font-family: 'opensans-bold', Helvetica, Arial, sans-serif;
  font-weight: bold; }

body {
  padding: 4%;
  background-color: #f9f7f4;
  color: #57534a;
  font-family: "opensans", Helvetica, Arial, sans-serif; }
  @media screen and (max-width: 660px) {
    body {
      padding: 1%; } }

h1, h2, h3, h4, h5, h6 {
  color: #3b3933; }

a, a:link, a:visited {
  color: #187dbc;
  text-decoration: none;
  border-bottom: 1px dotted #187dbc; }
a:hover {
  color: #51afe9;
  border-bottom: 1px dotted #51afe9; }

.container {
  zoom: 1;
  max-width: 1400px;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.hide {
  display: none; }

.copyright {
  color: #a8a59f;
  font-size: 0.7em;
  padding: 1em;
  text-align: right; }

.page-title {
  text-align: left; }
  @media screen and (max-width: 660px) {
    .page-title {
      text-align: center; } }

.page-title h1 {
  margin: 0;
  padding-bottom: 0.1em;
  font-size: 5em;
  letter-spacing: -5px; }

.site-info {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .site-info:last-child {
    margin-right: 0; }
  .site-info p {
    line-height: 1.5; }
    .site-info p.github {
      background: url("/assets/img/github.png") no-repeat left center;
      padding-left: 20px; }
    @media screen and (max-width: 660px) {
      .site-info p {
        display: none; } }
  @media screen and (max-width: 960px) {
    .site-info {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      .site-info:last-child {
        margin-right: 0; } }

.app-view {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #dfdfdf;
  border-radius: 6px; }
  .app-view:last-child {
    margin-right: 0; }
  @media screen and (max-width: 960px) {
    .app-view {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      .app-view:last-child {
        margin-right: 0; } }

.action-header {
  padding: 0.7em;
  box-shadow: inset 1px 1px 0 #848484;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid #3b3933;
  background-color: #3b3933; }

.statistics {
  float: left;
  width: 180px;
  padding: 0.45em 0.6em;
  border-radius: 6px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
  background-color: #fbfbfb;
  font-size: 0.8em; }
  .statistics .total-unpaid {
    line-height: 1;
    float: right;
    font-size: 1.25em; }
  .statistics:empty:after {
    content: '\00a0'; }

.actions {
  float: right; }
  .actions button {
    padding: 0.4em 1.2em 0.4em 27px;
    text-align: center;
    margin: 0 0 0 0.4em;
    font-size: 0.8em;
    font-family: "opensans", Helvetica, Arial, sans-serif;
    color: #57534a;
    text-shadow: 1px 1px 0 #fff;
    border: 1px solid #d4d1cc;
    border-radius: 4px;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.25);
    background-color: #efefef;
    background-repeat: no-repeat;
    background-position: 8px center; }
    .actions button.addNew {
      background-image: url("/assets/img/plus.png"); }
      .actions button.addNew:hover {
        box-shadow: 0 0 10px rgba(28, 74, 28, 0.8); }
    .actions button.clearPaid {
      background-image: url("/assets/img/minus.png"); }
      .actions button.clearPaid:hover {
        box-shadow: 0 0 10px rgba(166, 63, 63, 0.8); }
    .actions button:active {
      position: relative;
      top: 1px;
      left: 1px; }

.bills {
  border-top-width: 0; }
  .bills td:first-child, .bills th:first-child {
    border-left-width: 0; }
  .bills th {
    padding: 0.5em;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    background-color: #efefef;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
    text-shadow: 1px 1px 0 white;
    cursor: pointer; }
    .bills th.due {
      width: 16%; }
      @media screen and (max-width: 1200px) {
        .bills th.due {
          width: 20%; } }
      @media screen and (max-width: 660px) {
        .bills th.due {
          width: 27%; } }
    .bills th.description {
      width: 63%; }
      @media screen and (max-width: 1200px) {
        .bills th.description {
          width: 60%; } }
      @media screen and (max-width: 660px) {
        .bills th.description {
          width: 52%; } }
    .bills th.amount {
      width: 11%; }
    .bills th.paid {
      width: 5%; }
    .bills th.destroy {
      width: 5%; }
  .bills td {
    padding: 0.8em;
    font-size: 0.9em;
    background-color: #fcfcfc;
    border-left: 1px solid #efefef; }
  .bills .empty td {
    text-align: center; }
  .bills tr:nth-child(odd) td {
    background-color: #f7f7f7; }
  .bills tr:last-child td:first-child {
    border-bottom-left-radius: 6px; }
  .bills tr:last-child td:last-child {
    border-bottom-right-radius: 6px; }
  .bills span {
    display: inline-block;
    padding: 0.4em 0; }
    .bills span[contenteditable] {
      padding: 0.4em;
      border-bottom: 1px dotted red;
      background-color: #fcefef; }
      .bills span[contenteditable], .bills span[contenteditable]:focus {
        outline: 0 solid transparent; }

.button {
  text-align: center;
  position: relative; }
  .button span {
    display: inline-block;
    padding: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px; }
  .button.is-paid span {
    background-image: url("/assets/img/checkmark.png"); }
    .button.is-paid span.yes {
      background-position: 16px; }
  .button.destroy span {
    background-image: url("/assets/img/cancel.png"); }
    .button.destroy span:hover {
      background-position: 16px; }
